---
title: GitLab Certified Security Specialist
suppress_header: true
description: "GitLab Certified Security Specialist"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Security Specialist
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

= partial "includes/education-services-deprecated"
