---
layout: markdown_page
title: "Group Direction - AI Framework"
description: "Building common tools to support GitLab teams integrating AI/ML technologies"
canonical_path: "/direction/ai-powered/ai_framework/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview

The AI Framework group is a team focused on increasing the pace of adoption and innovation with advanced AI/ML technologies while ensuring quality. The team is developing tools that other engineers and product people can utilize to enrich their product offering.

The introduction of new capabilities and technologies in the AI/ML space, specifically with the widespread use of LLM’s created a tectonic shift in customer expectations. However, these new capabilities do not change an old truth: teams still need to obsess over their customers' needs and have a deep understanding of their problems, so they can create solutions best suited to their use cases. 

To enable teams to focus exactly on these things, our aim is to remove the technical heavy lifting from the equation, so as an organization we can focus on results for customers. 

AI is moving at an ever-increasing pace, and the responsibility of the AI Framework group is to ensure that it will not only keep up but will lead the way, with novel and innovative approaches to create efficiencies across the entire DevSecOps cycle. Our implementation of the [Abstraction layer](/ai_abstraction_layer) is designed to enable a plug-and-play infrastructure that brings AI as a service to the GitLab platform.

### Goals

We aim to:
1. Increase the velocity of AI-powered feature development.
2. Increase the quality of AI-powered features in the platform.
3. Increase the adoption of GitLab as a platform.


## Themes 

### AI Gateway as a tool to increase privacy and performace 

To ensure our AI features provide with a high standard of performance and security, we will iterate on the [Abstraction layer](/ai_abstraction_layer). AI Framework will execute on the best ways to deploy the AI Gateway to set the market expectations around privacy and security when it comes to AI powered capabilities. 

### AI agents as a tool to create efficiencies across the DevSecOps cycle 

AI agents are the future of workflow automation and scale. We aim to provide the tools to create AI agents that can be used across the DevSecOps cycle. These agents will have access to relevant data to create a rich context, as well as the ability to access and use tools. 

### Rich context to increase AI features quality

RAG and embeddings are important parts of any infrastructure that supports AI powered capabilities. They serve as powerful tools to enhance feature quality and ensure user satisfaction. By incorporating these elements into the AI usage workflow, we can ensure that our AI offerings scale effectively with our customers and teams. In the age of the LLM, as compute is becoming more accessible, it is crucial to make sure that we compliment these powerful algorithms with the right context.
Our goal is to enable AI powered experience that solves for use-cases and real world problems that our customers, community and teams are facing. With that in mind, it is extremely important to ensure that our infrastructure is built for that purpose. 

### Standardized Telemetry to support new feature development 

To ensure the responsible use and development of AI, we want to make sure that both in terms of proper usage and in terms of costs, we have a robust and reliable ways to track and measure the use of AI. Our focus here is to create it with the highest standard of user privacy. We do not track specific user activity nor we use any data to train and improve the models. 

## 1 year plan

- Increase privacy by iterating on the [Abstraction layer](/ai_abstraction_layer) capabilities 
- Introduce the use of AI agents in GitLab. Both GitLab internal teams and customers will benefit from the creation and utilization of AI agents 
- Enriching context by supporting RAG and embeddings store
- Standardized Telemetry and Analytics across all AI initiatives 
- Supporting different stages and groups within GitLab to power their product offering with AI


## Categories

This group consists of the following category:
- **[Abstraction layer](/ai_abstraction_layer):** An AI Architecture to standardize and abstract AI/ML technologies within GitLab
- [AI Agents](/direction/ai-powered/ai_framework/ai_agents): Empower non-technical users to create advanced AI-Powered chat agents customized to customer's data

<p align="center">
    <i><br>
    Last Reviewed: 2024-01-30<br>
    Last Updated: 2024-01-30
    </i>
</p>