### What's Next For Us

Over the next year, we are focused on the following:

<%= partial("direction/plan/project_management/team_planning/whats_next") %>
- Enhancing our ability to [visualize data](https://gitlab.com/groups/gitlab-org/-/epics/5516) by providing a singular hub for accessing and presenting information, adaptable to different visualization preferences.
- Measuring [the impact of AI to demonstrate ROI](https://gitlab.com/groups/gitlab-org/-/epics/12978).
- [Maturing Value Stream Dashboard](https://gitlab.com/groups/gitlab-org/-/epics/6743) - Continue to iterate to add additional data and increase the configurability. 
- Maturing our Wiki to satisfy more [jobs to be done](https://gitlab.com/groups/gitlab-org/-/epics/12826).

### What We're Not Doing

* GitLab will not provide extensive configuration options that complicate collaboration and increase the maintenance burden. Examples are:
   * Blocking users from editing work items due to field-level configuration.
   * Creation of state workflows with transition rules. 
   * Configuring screen field layouts.
* Plan functionality will be generic enough to allow its use by many personas and use cases. However, we will focus on optimizing for use cases for DevSecOps workflows in the immediate future. Our long-term vision is to become the system of record for planning across any function, but we are starting with DevSecOps teams as our target.  Example use cases that we are not focused on include:
   * Marketing
   * HR
   * Legal
   * Service Desk - These workflows will be owned by the [Monitor stage](https://about.gitlab.com/direction/service_management/service_desk/).
* In order to meet the vision described in this page, we will decrease investment in our Requirements Management, Test Management, DevOps Reports, Design Management and Time Tracking categories. We will continue to address defects and support community contributions but we are not planning to make significant improvements. 
